{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <label for="validationCustom01" class="mr-3">Enter Stock Symbol:</label>
            <input autocomplete="off"
            autofocus class="form-control"
            name="symbol"
            placeholder="Symbol"
            type="text"
            id="validationCustom01"
            required>
            <div class="invalid-feedback">
                Please enter a stock symbol to quote.
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Get Quote</button>
    </form>

    <script>

        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

    </script>
{% endblock %}